body {
  margin: 0;
  background: #b93737; /* fallback for old browsers */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* font-family: Montserrat; */
  font-weight: normal;
  font-size: auto;
  font-style: normal;
  color: black;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type='email'] {
  margin-bottom: 5px;
  border-bottom-right-radius: 20;
  border-bottom-left-radius: 20;
}

.form-signin input[type='password'] {
  margin-bottom: 5px;
  border-top-left-radius: 20;
  border-top-right-radius: 20;
}

.form-registration .form-floating:focus-within {
  z-index: 2;
}

.form-registration input[type='text'] {
  margin-bottom: 5px;
  border-bottom-right-radius: 10;
  border-bottom-left-radius: 10;
}

.form-registration input[type='text'] {
  margin-bottom: 5px;
  border-bottom-right-radius: 20;
  border-bottom-left-radius: 20;
}

.form-registration input[type='email'] {
  margin-bottom: 5px;
  border-bottom-right-radius: 20;
  border-bottom-left-radius: 20;
}

.form-registration input[type='password'] {
  margin-bottom: 5px;
  border-top-left-radius: 20;
  border-top-right-radius: 20;
}

.form-control:focus {
  border-color: #b93737;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  border-radius: 10px;
  outline: 2;
  outline-color: black;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

canvas {
  display: block;
  /* vertical-align: bottom; */
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b93737;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
